* {
  font-family: eurofont, Arial, sans-serif; }

.header-inner {
  height: 180px; }

.header-title {
  background: url("../images/header-background.png") no-repeat;
  background-position: bottom center;
  height: 100%; }
  .header-title span {
    background: #fff;
    opacity: 0.8;
    border-radius: 10px;
    font-size: 18px; }

.header-title-m {
  display: none; }

.header-contacts {
  margin-top: 20px; }

.phone {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 1.7px; }

.get-call {
  background: #e56e0b;
  padding: 12px;
  color: #000; }
  .get-call:focus {
    color: #000;
    text-decoration: none; }

.menu-toggle {
  display: none; }
  .menu-toggle:focus {
    color: #fff;
    text-decoration: none; }

.adress {
  margin-top: 20px;
  letter-spacing: 1.4px; }

.mail {
  width: 100%;
  color: #005e98;
  text-decoration: underline;
  text-align: right; }

.phone-md {
  display: none; }

.navigation .navigation-inner {
  margin-top: 3px;
  border-top: solid #e2dddd 1px;
  border-bottom: solid #f4f4f4 3px;
  padding-top: 10px; }

.navigation .nav-link {
  white-space: nowrap;
  color: #000; }
  .navigation .nav-link:hover, .navigation .nav-link:active, .navigation .nav-link:focus {
    background: #f4f4f4;
    color: #ff6800; }

.main-slider {
  position: relative;
  overflow-x: hidden; }
  .main-slider #prev {
    position: absolute;
    display: block;
    left: -17px;
    top: calc(50% - 55px);
    z-index: 2;
    background: none; }
  .main-slider #next {
    position: absolute;
    right: -17px;
    top: calc(50% - 55px);
    background: none; }
  .main-slider .message-box-wrap {
    margin-top: -280px;
    width: 100%; }
    .main-slider .message-box-wrap .message-box {
      min-width: 440px;
      height: 230px; }
      .main-slider .message-box-wrap .message-box-header {
        padding-top: 20px;
        padding-left: 55px;
        padding-right: 25px;
        padding-bottom: 20px;
        background: #fff;
        font-size: 24px;
        line-height: 24px; }
      .main-slider .message-box-wrap .message-box-content {
        margin-top: -1px;
        padding-top: 20px;
        padding-left: 55px;
        padding-right: 25px;
        padding-bottom: 20px;
        background: #fff;
        opacity: 0.6;
        max-height: 130px;
        overflow-y: auto; }
        .main-slider .message-box-wrap .message-box-content::-webkit-scrollbar {
          width: 5px;
          background: #f5f5f5; }
        .main-slider .message-box-wrap .message-box-content::-webkit-scrollbar-thumb {
          background: #ff8400;
          border-radius: 20px; }
        .main-slider .message-box-wrap .message-box-content::-webkit-scrollbar-track {
          -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: #f5f5f5; }
  .main-slider .slick-slide {
    height: 320px; }
  .main-slider .slick-dots {
    bottom: 30px;
    z-index: 2; }
    .main-slider .slick-dots .slick-active {
      background: #ff8b00; }
    .main-slider .slick-dots li {
      background: #dcdcdc; }
      .main-slider .slick-dots li button:before {
        content: ' '; }

.content .content-title {
  margin-bottom: 30px;
  padding-top: 35px;
  text-align: center;
  font-size: 28px;
  line-height: 30px; }

.content .content-description {
  margin-bottom: 40px;
  text-align: center; }

.content .single-item {
  margin-bottom: 20px; }
  .content .single-item:hover .left-col {
    background: #ff8400;
    cursor: pointer; }

.content .left-col {
  background: #f5f5f5;
  text-align: center;
  padding: 15px 0px; }

.content .item-title {
  color: #000; }

.content .more-info {
  color: #ff8400;
  text-decoration: underline; }

.content .content-button {
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 15px 30px;
  text-align: center;
  background: #ff8400;
  font-size: 18px;
  color: #000;
  text-decoration: none; }

.content-1 {
  margin-top: -50px;
  background: url("../images/content-1.png") no-repeat right -292px #f6f6f6;
  border-right: 20px solid #ff8400; }

.content-2 {
  background: url("../images/content-2.png") no-repeat;
  background-size: cover;
  border-left: 20px solid #1079b6; }
  .content-2 .content-button {
    background: #1079b6;
    color: #fff; }

.content-3 {
  background: url("../images/content-3.png") no-repeat;
  background-size: cover; }
  .content-3 .content-title {
    margin: 60px 0;
    font-size: 28px;
    text-align: center;
    color: #fff; }
  .content-3 .content-items {
    margin-bottom: 20px; }
  .content-3 .single-item {
    text-align: center; }
    .content-3 .single-item .item-text {
      margin-top: 30px;
      padding: 0 20px;
      color: #fff;
      font-size: 22px;
      line-height: 22px; }
    .content-3 .single-item-active .item-text {
      color: #ff8500; }
  .content-3 .content-button {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 40px;
    background: #fff;
    color: #000;
    text-decoration: none; }
    .content-3 .content-button img {
      padding-right: 20px; }

.content-4 {
  background: url("../images/content-4.png") no-repeat #eae8e8; }
  .content-4 .content-title {
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px; }
  .content-4 .content-items {
    margin-bottom: 30px; }
  .content-4 .change-city {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 230px;
    margin-top: 40px;
    margin-bottom: 10px; }
  .content-4 .company-description {
    padding: 60px 50px 50px 40px;
    background: #fff; }
  .content-4 .right-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
  .content-4 .single-city {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding-left: 20px;
    padding-bottom: 5px; }
    .content-4 .single-city:hover {
      background: #1079b6;
      color: #fff; }
  .content-4 .open-map {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    background: #ff8400;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    padding: 7px 0; }
  .content-4 .euro-italic {
    font-weight: 600;
    font-style: italic; }
  .content-4 .bold-text {
    font-weight: 600;
    color: #4f4f4f; }

.content-5 {
  background: #f6f6f6; }
  .content-5 .content-title {
    margin-bottom: 30px;
    padding-top: 35px;
    text-align: center;
    font-size: 28px;
    line-height: 30px; }
  .content-5 .single-item {
    position: relative;
    text-align: center;
    margin-bottom: 35px; }
    .content-5 .single-item .item-text {
      position: absolute;
      height: 105px;
      padding: 30px 20px;
      font-size: 22px;
      line-height: 22px;
      bottom: 10px;
      background: #fff; }

.second-slider {
  position: relative;
  overflow-x: hidden; }
  .second-slider .slick-slide:focus {
    outline: none; }
  .second-slider .slider-title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin: 45px 0; }
  .second-slider .sl-2 {
    margin-bottom: 50px; }
  .second-slider .single-item {
    height: 90px;
    padding-left: 30px;
    padding-right: 30px;
    vertical-align: middle;
    border-right: solid #fafafa 1px; }
  .second-slider #prev-2 {
    position: absolute;
    display: block;
    left: -17px;
    top: calc(50% - 55px);
    z-index: 2;
    background: none; }
  .second-slider #next-2 {
    position: absolute;
    right: -17px;
    top: calc(50% - 55px);
    background: none; }

.footer {
  background: #ff8400;
  padding-top: 30px;
  padding-bottom: 50px; }
  .footer .footer-logo {
    text-align: center; }
  .footer .logo-text {
    font-size: 14px;
    padding-top: 13px;
    color: #000;
    font-weight: bold; }
  .footer .navigation-item {
    font-size: 14px;
    color: black;
    text-decoration: underline; }
    .footer .navigation-item::before {
      content: " ";
      display: inline-block;
      width: 5px;
      height: 12px;
      padding-right: 10px;
      background: url("../images/icons/icon-right.png") no-repeat; }
  .footer .get-call {
    margin-top: -5px;
    background: #000000;
    color: #fff;
    text-decoration: none; }
  .footer .adress {
    font-size: 14px;
    color: #000;
    letter-spacing: 0px; }
  .footer .mail {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000; }
  .footer .phone {
    padding-right: 10px;
    color: #000; }
  .footer .subfooter {
    color: #000;
    font-size: 13px;
    text-align: right; }

@media screen and (max-width: 1199px) {
  .header-inner {
    height: 180px; }
  .header-contacts {
    align-items: center; }
  .get-call {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    text-transform: uppercase; }
  .adress {
    text-align: center;
    margin: 20px auto 0; }
  .new-line {
    display: block; }
  .mail {
    display: none; }
  .phone {
    margin: 0 auto; }
  .navigation-inner {
    margin-left: -30px;
    margin-right: -30px; }
  .footer .get-call {
    margin-top: 15px; }
  .footer .adress {
    text-align: center; }
  .footer .mail {
    text-align: center; }
  .footer .subfooter {
    width: 100%;
    text-align: center; } }

@media screen and (max-width: 991px) {
  .header-inner {
    height: auto; }
  .header-contacts {
    margin-top: 20px; }
  .phone {
    display: none; }
  .phone-md {
    display: block;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1.7px; }
  .container {
    width: 90%; }
  .header-title-m {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px; }
  .header-title {
    display: none !important; }
  .mail {
    display: none; }
  .mail-md {
    letter-spacing: 1px; }
  .adress {
    text-align: center;
    width: 100%;
    font-weight: 600;
    margin-bottom: 20px; }
  .phone {
    font-size: 23px; }
  .get-call {
    margin-top: 25px; }
  .menu-toggle {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    background: #000;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px; }
  .navigation {
    display: none;
    margin-top: 20px; }
    .navigation .navigation-inner {
      flex-direction: column;
      margin: 0 auto; }
  .main-slider .message-box-wrap .message-box-header {
    padding-left: 35px; }
  .main-slider .message-box-wrap .message-box-content {
    padding-left: 35px; }
  .content-2 {
    background-size: cover; }
  .content-3 .content-items {
    flex-direction: column; }
  .content-3 .single-item {
    margin-bottom: 50px; }
  .content-4 {
    background-size: cover; }
  .content-5 .single-item .item-text {
    position: static;
    height: auto;
    margin-top: 15px; } }

@media screen and (max-width: 767px) {
  .phone-md {
    display: none; }
  .phone {
    display: block; }
  .navigation {
    background: none; }
    .navigation .navigation-inner {
      background: none;
      opacity: 1; }
  .second-slider {
    position: relative; }
    .second-slider .slider-title {
      margin: 25px 0; }
    .second-slider .single-item {
      padding-left: 50px;
      padding-right: 50px;
      border: none; }
  .footer .phone {
    margin-top: 15px; } }

@media screen and (max-width: 575px) {
  .main-slider .message-box-wrap .message-box {
    min-width: 320px; }
  .main-slider .message-box-wrap .message-box-header {
    font-size: 20px; }
  .message-box-content {
    display: none; }
  .content {
    border: none; }
    .content .content-button span {
      display: none; }
  .content-4 .change-city {
    height: auto;
    margin-bottom: 30px;
    text-align: center; }
  .content-4 .single-city {
    padding: 10px 0;
    font-size: 18px; }
  .second-slider .single-item {
    height: auto; }
    .second-slider .single-item img {
      width: 100%; }
  .footer .footer-logo {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%; }
  .footer .navigation-item {
    font-size: 18px;
    text-align: center;
    padding: 5px 0; }
    .footer .navigation-item::before {
      background: none; } }
